<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Ahaar2.css">
</head>
<body>
    <div class="blur"> 
        <div class="DIV">
            <div class="button-container">
                <div class=navbar style="display:flex ; justify-content:center">
                <img src="behind_plate.png"></img>
                </div>
                <div class="button">
                 <input class="fill" placeholder="Name" type="text"></input>
                </div>
                <div class="button">
                 <input placeholder="Height(in cm)" type="number"></input>
                </div>
                <div class="button">
                 <input placeholder="Weight(in kg)" type="number"></input>
                </div> 
                <div class="button">
                    <input placeholder="Age" type="number"></input>
                </div>
                <div class="dropdown">
                  <button class="dropdown-button">Gender</button>
                   <div class="dropdown-content">
                    <a href="#">Male</a>
                    <a href="#">Female</a>
                    <a href="#">Prefer not to say</a>
                   </div>
                </div>   
                <div class="dropdown2">
                  <button class="dropdown-button2">Activity</button>
                   <div class="dropdown-content2">
                    <a href="#">Physically Active (6-7 days a week)</a>
                    <a href="#">Partially Active (3-5 days a week)</a>
                    <a href="#">Sedentary LIfestyle (0-2 days a week)</a>
                   </div>
                </div>
                <div class="blur2">
                    <button class="proL">Proceed</button>
                </div>
            </div>    
        </div>  
    </div>
</body>
<script src="Ahaar2.js" defer></script>
</html>