<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahaar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Ahaarstyle.css') }}">
    <!-- ye 7th line ko change kiya hai maine kyuki destination changed to static -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- you guys have to do something here, this folder structure is very imp. and yeah for now i googled for the above images so i dont know if its correct or what,check yourself-->
</head>
<body>
    <div class="blur">
        
            <img class="Webname" src="{{ url_for('static', filename='Ahaar_Title.png') }}" alt="Web name">
            <img class="logo" src="{{ url_for('static', filename='WhatsApp_Image_2025-10-01_at_18.49.19-removebg-preview.png') }}" alt="logo">
            <img src="{{ url_for('static', filename='AhaarMoto.png') }}" alt="motto">
    </div>  
        <div id="cont" class="content">
            <div id="texts" class="text">
                <p><h1>Master Your Nutrition Through Indian VEG Diet</h1>
                <b>  Ready to unlock your healthiest self? Our platform is the smart, simple solution for anyone pursuing a perfectly balanced Indian vegetarian diet. Forget generic meal plans—we build a nutritional roadmap unique to you.
                    <br><br>
                    Here's how we transform your diet:
                    <br><br>
                    Personalized Blueprint: We take your physical stats (height, weight, etc.) and generate a precise, calorie- and macro-calculated Indian vegetarian diet plan designed to meet your individual goals.
                    The 'What Am I Missing?' Check: You tell us what you actually ate today. Our unique analysis feature will then instantly scan your meal log to identify nutritional gaps—revealing what you are over-consuming or the essential nutrients you're falling short on.
                    <br><br>
                    Intelligent Adjustments: We do the math so you don't have to. Based on the analysis, we intelligently add or subtract specific Indian vegetarian foods from your plan, automatically adjusting calories, proteins, vitamins, and minerals to create an optimal, perfectly balanced menu.
                    Stop guessing and start optimizing. Get the confidence that every meal is moving you toward your best health.
                </b> 
                    <br>
                    <br><br>

                    <h3>Complete Your Daily Nutrients Intake.</h3>
                </p>
            </div>    
        </div>
        
    <div class="login">
        <button class="loginbtn" id="openLogin">Login/Sign Up</button><br><br>
    </div>
           <div id="registerModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Login / Sign Up</h2>
                    <form id="registerForm">
                        <input type="text" id="username" placeholder="UserName" required><br>
                        <input type="text" id="phone" placeholder="Phone Number" required><br>
                        <input type="email" id="email" placeholder="Email Address" required><br>
                        <input type="password" id="newpassword" placeholder="New Password" required><br>
                        <button id="submit" type="submit">Register</button>
                       
                    </form>
                    <button id="forlogin">Login</button>
                    <button id="guest">Guest login</button>
                    
                </div>
           </div>
           <div id="loginmodal" class="modal">
                <div class="modal-content">
                    <div class="loginpage">
                        <span class="closelgn">&times;</span> 
                        <form id="loginForm">
                            <h2>Login</h2>
                            <input type="text" id="usernamelgn" placeholder="UserName" required><br>
                            <input type="password" id="password" placeholder="Enter your password" required><br>
                            <button id="login">Login</button>

                        </form>
                    </div>
                </div>
           </div>
    
  <script src="{{ url_for('static', filename='Ahaar.js') }}" defer></script>
<!-- ye 76th line ko change kiya hai maine kyuki destination changed to static -->
</body>
</html>